################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/praktikum/.vs/praktikum/v16
/praktikum/Debug
/praktikum/vezba5/Debug
/praktikum/vezba6/Debug
/praktikum/vezba7/Debug
