################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/praktikum/.vs/praktikum/v16
/praktikum/Debug
/praktikum/vezba1/Debug
/praktikum/vezba2/Debug
/praktikum/vezba3/Debug
/praktikum/vezba4/Debug
/praktikum/vezba5/Debug
/praktikum/vezba6/Debug
/praktikum/vezba7/Debug
/praktikum/vezba8/Debug
/praktikum/vezba9/Debug
/praktikum/vezba10/Debug
/blanketi/.vs/blanketi/v16
/blanketi/avgust2020/Debug
/blanketi/Debug


/blanketi/jul2019/Debug
